.how{
  width: 100vw;
  }

  .image-padding{
    padding-top: 280px;
  }


  .medium-text {
      font-family: 'Playfair Display', serif;
      font-size: 150px;
      line-height: 0.8;
    }

    .pink{
      color: #FD26BB;
    }

    .right{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 42%;
      z-index: 1;
    }
    img.hover-image{
      position:absolute;
      width:250px;
      height:250px;
    }
  .big a{
    font-weight: 600;
    color:#35E2E7;
  }



