<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Los Mariachis Tequila </title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/how.css" />
     <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,900" rel="stylesheet">
</head>

<body class="how">
    <div class="main">
        <a class="logo fixed" href="index.html">
            <img src="img/logo_black.png">
        </a>
        <div class="menu fixed">
            <a href="#nav" class="nav_trigger  light_text">Menu</a>
        </div>

        <section>
            <h1 class="back_text pink">How it's made</h1>
            <div class="flex_container reverse">
              <div class="text_wrapper">
                <p class="big" > <a href="#" class="hover-link" data-hover-image="img/agave.jpg" > Agaves:</a>  We hand-select the finest 100%
                    <a href="#" class="hover-link" data-hover-image="img/espadin.jpg">Espadín agaves</a>. Los Mariachis Tequila, is made using traditional methods. Once harvested the
                    <a href="#" class="hover-link" data-hover-image="img/pinas.jpg">piñas</a> are split and laid to cook for 4–6 days in six-ton earthen pits.
                    Crushing: Piñas are cooled for 24 hours before the crushing process begins. The agave is crushed, one ton at a time by a horse-drawn
                     <a href="#" class="hover-link" data-hover-image="img/tahona_wheel.jpg">tahona wheel</a>
                   </p>
              </div>
              <div class="img_wrapper image-padding">
                <img src="img/agave.png">
              </div>
            </div>

          </section>
        </div>


    </div>
    <!--menu starts-->
    <div id="nav" class="nav">
        <div class="navigation-wrapper">
            <div class="half_block">
                <nav>
                    <ul class="primary_nav">
                        <li><a href="/about">About</a></li>
                        <li><a href="/howitsmade">How it's made</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                    </ul>
                </nav>
            </div>
            <div class="half_block contact_info">
                <h3>Contact us</h3>
                <ul>
                    <li>
                        <a href="mailto:info@myemail.co">info@mariachi.co</a>
                    </li>
                    <li>+52 2299 345762</li>
                    <li>
                        Av. El Agave #23
                        <br>Tequila, Jalisco,MX.
                    </li>
                </ul>

            </div>
            <a href="#" class="nav_trigger menu fixed light_text">Close</a>
        </div>

    </div>
    <!--menu ends-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="js/base.js"></script>
    <script src="js/hover.js"></script>
</body>

</html>