*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  background-color: #35E2E7;
  overflow: hidden;
}

p {
  line-height: 1.5;
}

.home {
  width: 300vw;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

/*Brand colors */

.blue {
  background-color: #193FD3;
}

.yellow {
  background-color: #ffa868;
}

.turquoise {
  background-color: #35E2E7;
}

.lightBlue {
  background-color: #CEF6FF;
}

.light {
  background-color: #EDF3FF;
}

.yellow_text {
  color: #ffa868;
}

.blue_text {
  color: #193FD3;
}

.light_text {
  color: #EDF3FF;
}

section {
  width: 100vw;
  height: 100vh;
  float: left;
  background-color: #fff;
  position: relative;
}

.fixed {
  position: fixed;
  z-index: 9;
  width: 100%;
  text-align: center;
}

.logo {
  top: 5%;
}

.logo img {
  max-width: 120px;
}

.flex_container {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.flex_container.reverse {
  flex-direction: row-reverse;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 42%;
  z-index: 1;
}

.flex_container>.img_wrapper {
  width: 42%;
  position: relative;
}

.img_wrapper img {
  width: 100%;
}

.menu {
  bottom: 5%;
  pointer-events: auto;
}
a.nav_trigger {
  color: #F8DA19;
}

.main {
  overflow: hidden;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

/*navigation styles */

.navigation-is-open .main {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.7s;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}

.nav .navigation-wrapper {
  /* all navigation content */
  height: 100%;
  background-color: #35E2E7;
  overflow-y: auto;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navigation-is-open .nav {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.navigation-is-open .nav .navigation-wrapper {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.primary_nav {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.5;
}

.primary_nav a {
  color: #FD26BB;
}

.primary_nav a:hover {
  opacity: 0.5;
}

.contact_info {
  font-size: 25px;
  color: #193FD3;
  line-height: 1.4;
}

.contact_info a {
  color: #193FD3;
}

p.big {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 1.4;
  font-weight: 600;
}